.player_console {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.player_board {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.player_console label {
    color: #FFFFFF;
    font-size: 24px;
    margin: 10px;
}