.tabs {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  width: 100%;

  .options {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    min-height: 22px;

    > .option {
      display: grid;
      place-items: center;
      color: #444;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      flex: 1;
      min-height: 20px;
      cursor: pointer;

      &:hover,
      &.selected {
        color: white;
        background-color: #234361;
      }
    }
  }

  .content {
    position: relative;
    flex: 1;
    overflow-x: hidden;
  }
}
