.square {
  border: 1px solid black;
  background-color: grey;
  color: red;
  font-size: 32px;
  text-align: center;

  &.ocean {
    background-color: skyblue;
    color: black;
  }
}

.my_square {
  cursor: default;
}
