.letters {
  display: flex;
  flex-flow: row wrap;
  width: 624px;
}

.container {
  display: flex;
  flex-flow: row nowrap;
}

.numbers {
  display: flex;
  flex-flow: column nowrap;
}

.innerBoard {
  display: flex;
  flex-flow: row wrap;
  width: 520px;
  height: 520px;
}
